.jumbotron {
    background-image: url("/assets/img/background.jpg");
    background-color: #6b4510;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

body {

    background-color: darkred;
}

.jumbotron > h1 {
    font-family: 'Creepster', cursive;
}

#newburger {
    border-radius: 5px;
}

#color-override {
    color: rgb(160, 30, 30);
}

#lefthead {
    background-color: #5cb85c;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: rgb(160, 30, 30);
    color: white;
    text-align: center;
    font-size: 1.2em;
}